<!DOCTYPE html>
<html>
<head>
	<title>Track ISS</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 	<script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>

</head>
<body onload="initMap()">
	<div class="container">
		<h1>Latitude: {{ lat }}</h1>
		<h1>Longitude: {{ lon }}</h1>
	</div>
	<div class="container">
		<button class="btn-block btn-primary" onclick="reloadPage()">Track Me!</button>
		<div id="map">
			
		</div>
	</div>

</body>
</html>



